@import "../../helpers";
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/images/login-background.jpg");
  background-position: center;
  background-size: cover;
}
.main-panel {
  display: flex;
  justify-content: space-evenly;
  width: 1000px;
  height: 500px;
  padding: 50px;

  background: radial-gradient(circle,#383838,#2F2F2F,#292929, #282828,#1D1D1D);
  box-shadow:
    /*bottom shadow*/
    0px 20px 20px 5px rgba(0,0,0,0.2),
    0px 5px 10px 5px rgba(0,0,0,0.2),
      /*long bottom shadow*/
    0px 50px 30px 5px rgba(0,0,0,0.4),
      /*right shadow*/
    20px 50px 30px 5px rgba(0,0,0,0.2),
      /*left shadow*/
    -20px 50px 50px 5px rgba(0,0,0,0.2),
      /*right inset*/
    inset 10px 0px 40px 5px rgba(0,0,0,0.1),
      /*left inset*/
    inset -10px 0px 40px 5px rgba(0,0,0,0.1);
}

.vertical-line {
  border-right: 1px solid $n;
}
